body {
    background-color: rgb(92, 19, 19);
}

header  {
    background-color: rgb(22, 29, 121);
    color: rgb(9, 1, 80);
    
}

a {
    color: rgb(212, 201, 36);
    text-decoration-color: darkkhaki ;
}

h2 {
    color: rgb(235, 216, 44);
}

p {color: rgb(255, 255, 255);}

span p {
    
    color: rgb(61, 77, 230);
}

li {
    color: rgb(255, 255, 255);
}