@import url(file:///C:/Users/57310/OneDrive/Escritorio/framework.html/main.css/Untitled-1.html#)

#menu li > a {
  font-size:18px;
  font-weight:bold;
  color:black;
}
#menu from > button{ 
  font-size: 18px;
  font-weight:bold;

}